<h1>Requirement Reviews for <%= @product.name %></h1>

<% addheaderhable(new_product_requirement_review_path(@product), "Create a new Requirement Review") %>
<table class='list'>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

  <% @requirement_reviews.each do |requirement_review| %>
      <tr>
        <td><%= h requirement_review.title %></td>
        <td><%= h requirement_review.description %></td>
        <td><%= link_to 'Show', product_requirement_review_path(:product_id, requirement_review) %></td>
        <td><%= link_to 'Edit', edit_product_requirement_review_path(:product_id, requirement_review) %></td>
        <td><%= link_to 'Destroy', product_requirement_review_path(:product_id, requirement_review), :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>