<h1>Requirement Reviews for <%= @product.name %></h1>

<% addheaderhable(new_product_requirement_review_path(@product), "Create a new Requirement Review") %>
<table class='list'>
  <tr>
    <th>Review ID</th>
    <th>Title</th>
    <th>Description</th>
    <th></th>
  </tr>

  <% @requirement_reviews.each do |review| %>
      <tr>
        <td><%= link_to review.unique_id, product_requirement_review_path(review.product, review) %></td>
        <td><%= h review.title %></td>
        <td><%= h review.description %></td>
        <td><%= editmodelbutton(edit_product_requirement_review_path(review.product, review)) %>
            <%= deletemodelbutton(product_requirement_review_path(review.product, review)) %>
      </tr>
  <% end %>
</table>
