<h1>New Quality Risk</h1>

<% semantic_form_for :quality_risk, @quality_risk, :url => product_quality_risks_path do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :product_id, :value => @product.id %>
  <% f.inputs do %>
    <%= f.input :mitigation_strategy, :label => 'Mitigation Strategy' %>
    <%= f.input :description %>
    <%= f.input :explanation %>
    <%= f.input :likelihood %>
    <%= f.input :likelihood, :as => :select, :collection => [1,2,3,4,5], :include_blank => false, :hint => "1 = very unlikely, 5 = almost certain" %>
    <%= f.input :impact, :as => :select, :collection => [1,2,3,4,5], :include_blank => false, :hint => "1 = none, 5 = catastrophic (e.g. mission failure, loss of life)" %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button "Add Quality Risk" %>
  <% end %>
<% end %>

<%= link_to 'Back', product_quality_risks_path %>
