<p>
  <b>Risk category:</b>
  <%=h @quality_risk.risk_category_id %>
</p>

<p>
  <b>Description:</b>
  <%=h @quality_risk.description %>
</p>

<p>
  <b>Mitigation strategy:</b>
  <%=h @quality_risk.mitigation_strategy_id %>
</p>

<p>
  <b>Explanation:</b>
  <%=h @quality_risk.explanation %>
</p>

<p>
  <b>Likelihood:</b>
  <%=h @quality_risk.likelihood %>
</p>

<p>
  <b>Impact:</b>
  <%=h @quality_risk.impact %>
</p>

<%= link_to 'Edit', edit_product_quality_risk_path(@quality_risk.product, @quality_risk) %> |
<%= link_to 'Back', product_quality_risks_path %>