<h1>Requirements for <%= @product.name %></h1>

<% addheaderhable(new_product_requirement_path(@product), "Add New Requirement") %>
<table class='list'>
  <tr>
    <th>Requirement ID</th>
    <th>Requirement Type</th>
    <th>Description</th>
    <th>Priority</th>
    <th>Satisfaction</th>
    <th>Dissatisfaction</th>
    <th>Derived Priority<br>(S*D)*(1/P)</th>
  </tr>

  <% @requirements.each do |requirement| %>
      <tr>
        <td><%= link_to requirement.unique_id, product_requirement_path(@product, requirement) %></td>
        <td><%= h requirement.requirement_type.name %></td>
        <td><%= h requirement.description %></td>
        <td><%= h requirement.priority %></td>
        <td><%= h requirement.satisfaction %></td>
        <td><%= h requirement.dissatisfaction %></td>
        <td><%= h requirement.derived_priority %></td>
        <td><%= link_to 'Edit', edit_product_requirement_path(@product, requirement) %></td>
        <td><%= link_to image_tag("/images/close.png", :border=>0), @product, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>
