<h1>Editing req_breakdown</h1>

<% form_for :req_breakdown, @req_breakdown, :url => admin_req_breakdown_url(@req_breakdown) do |f| %>
  <%= f.error_messages %>
    <p>
      Level 0 Type:
      <%= collection_select(:req_breakdown, :level0_id, RequirementLevel.all , :id, :name, { :include_blank => 'Select a Level'} ) %>
    </p>
    <p id="level1_field">
      Level 1 Type:
      <%= collection_select(:req_breakdown, :level1_id, RequirementLevel.all, :id, :name, { :include_blank => 'Select a Level'} ) %>
    </p>
    <p id="level2_field">
      Level 2 Type:
      <%= collection_select(:req_breakdown, :level2_id, RequirementLevel.all, :id, :name, { :include_blank => 'Select a Level'} ) %>
    </p>
    <p id="level3_field">
      Level 3 Type:
      <%= collection_select(:req_breakdown, :level3_id, RequirementLevel.all, :id, :name, { :include_blank => 'Select a Level'} ) %>
    </p>
    <%= f.submit 'Update' %>
<% end %>

<%= link_to 'Show', admin_req_breakdown_url(@req_breakdown) %> |
<%= link_to 'Back', admin_req_breakdowns_path %>