<h1>New req_breakdown</h1>
<% javascript 'dynamic_requirement_levels' %>

<% form_for :req_breakdown, @req_breakdown, :url => admin_req_breakdowns_path do |f| %>
    <%= f.error_messages %>

    <p>
      Level 0 Type:
      <%= select(:req_breakdown, "level0_id", [], { :include_blank => 'Select a Level'} ) %>
    </p>
    <p id="level1_field">
      Level 1 Type:
      <%= select(:req_breakdown, "level1_id", [], { :include_blank => 'Select a Level'} ) %>
    </p>
    <p id="level2_field">
      Level 2 Type:
      <%= select(:req_breakdown, "level2_id", [], { :include_blank => 'Select a Level'} ) %>
    </p>
    <p id="level3_field">
      Level 3 Type:
      <%= select(:req_breakdown, "level3_id", [], { :include_blank => 'Select a Level'} ) %>
    </p>

    <%= f.submit 'Create' %>
<% end %>

<%= link_to 'Back', admin_req_breakdowns_path %>