<h1>Editing requirement_type</h1>

<% form_for :requirement_type, @requirement_type, :url => admin_requirement_type_path(@requirement_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', admin_requirement_type_path(@requirement_type) %> |
<%= link_to 'Back', admin_requirement_types_path %>