<h1>Test Environments</h1>

<% addheaderhable(new_environment_path, "Add New Test Environment") %>
<table class='list'>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @environments.each do |environment| %>
  <tr>
    <td><%=h environment.name %></td>
    <td><%=h environment.description %></td>
    <td><%= link_to 'Show', environment %></td>
    <td><%= link_to 'Edit', edit_environment_path(environment) %></td>
    <td><%= link_to 'Destroy', environment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>