<h1><%=@product.name%> Releases</h1>

<% addheaderhable(new_product_release_path(@product), "Add New Release") %>
<table class='list'>
  <tr>
    <th>Version</th>
    <th>Start Date</th>
    <th>Release Date<br>(Targeted)</th>
    <th>Identified Risks</th>
    <th>%Risks Mitigated</th>
    <th></th>
  </tr>

<% i = 0
   @releases.each do |release| %>
  <tr class=<%= i.odd? ? "d1" : "d0" %> >
    <td><%= link_to release.version, product_release_path(@product, release) %></td>
    <td><%=h release.startdate %></td>
    <td><%=h release.enddate %></td>
    <td>0</td>
    <td>0</td>
    <td><%= editmodelbutton(edit_product_release_path(@product, release)) %>
        <%= deletemodelbutton(product_release_path(@product, release)) %>
    </td>
  </tr>
<% i = i.next
   end %>
</table>
