<h1>New product</h1>

<% form_for(@product) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :identifier %><br />
    <%= f.text_field :identifier %>
  </p>
  <p>
    <%= f.label :req_breakdown_id %><br />
    <%= f.text_field :req_breakdown_id %>
  </p>
  <p>
    <%= f.label :jira_defect_filter %><br />
    <%= f.text_field :jira_defect_filter %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', products_path %>