<h1>New product</h1>

<% semantic_form_for(@product) do |f| %>
  <% f.inputs do %>
    <%= f.input :name %>
    <%= f.input :identifier %>
    <%= f.input :jira_defect_filter, :label => "Jira Defect Filter" %>
    <%= f.input :req_breakdown, :include_blank => false %>
  <% end %>
  <%= f.buttons %>
<% end %>

<%= link_to 'Back', products_path %>
