<p>
  <b>Requirement Level:</b>
  <%=h @req_breakdown.requirement_level.name %>
</p>

<p>
  <b>Previous Level:</b>
  <%=h @req_breakdown.previous_level.requirement_level.name if (@req_breakdown.previous_level != nil) %>
</p>

<p>
  <b>Next level:</b>
  <%=h @req_breakdown.next_level.requirement_level.name if (@req_breakdown.previous_level != nil) %>
</p>

<%= link_to 'Edit', edit_admin_req_breakdown_path(@req_breakdown) %> |
<%= link_to 'Back', admin_req_breakdowns_path %>